<article class="item well">
	<h3 class="item-title">{{worry.title}}</h3>
	<div class="detail item-type">
		<strong>{{worry.type}}</strong> 
	</div>
	<div class="panel panel-default description">
		<div class="panel-body">
			<p class="text-description">{{worry.description}}</p>
			<span>Date:</span>{{worry-item-date worry.date}}
		</div>
	</div>
</article>
