<article class="item well">
	<h3>{{worry.title}}</h3>
	<div class="detail type">
		<strong>{{worry.type}}</strong> 
	</div>

	<div class="panel panel-default description">
		<div class="panel-body">
			<p class="text-description">{{worry.description}}</p>
		</div>
	</div>
</article>
