<div class="jumbotron">
  <h2>About WorryFree</h2>
  <p>
    The WorryFree website is a delightful project created to explore Ember.
    By building a worryfree app, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
</div>
